div#app-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
div#app-wrapper aside#menu {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  background-color: #040b14;
  height: 100vh;
  overflow-y: auto;
}
div#app-wrapper aside#menu div#profile {
  text-align: center;
  padding: 20px 0px;
}
div#app-wrapper aside#menu div#profile img#profile-img {
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 120px;
}
div#app-wrapper aside#menu div#profile P {
  color: white;
  font-size: 24px;
  padding: 3px;
}
div#app-wrapper aside#menu div#profile P:first-of-type {
  margin-top: 10px;
}
div#app-wrapper aside#menu div#profile div#brand-link {
  margin-top: 10px;
}
div#app-wrapper aside#menu div#profile div#brand-link a {
  padding: 10px;
  display: inline-block;
  background-color: #212431;
  border-radius: 30px;
  margin: 0px 5px;
  transition: background-color 0.8s ease;
}
div#app-wrapper aside#menu div#profile div#brand-link a:hover {
  background-color: #149ddd;
}
div#app-wrapper aside#menu div#profile div#brand-link a i.icon {
  color: white;
  font-size: 20px;
}
div#app-wrapper aside#menu nav ul li {
  padding: 20px;
  color: #6f7180;
  cursor: pointer;
}
div#app-wrapper aside#menu nav ul li a {
  font-size: 18px;
  text-decoration: none;
}
div#app-wrapper aside#menu nav ul li a:link, div#app-wrapper aside#menu nav ul li a:visited {
  color: #6f7180;
}
div#app-wrapper aside#menu nav ul li a i.meunicon {
  width: 30px;
  margin-right: 5px;
}
div#app-wrapper aside#menu nav ul li:hover a {
  color: white;
}
div#app-wrapper aside#menu nav ul li.activated {
  color: #149ddd;
}
div#app-wrapper aside#menu nav ul li.activated a:link, div#app-wrapper aside#menu nav ul li.activated a:visited {
  color: #149ddd;
}
div#app-wrapper main#content {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}
div#app-wrapper main#content section {
  background: white;
  padding: 20px 0px;
}
div#app-wrapper main#content section div.container {
  width: 100%;
  padding: 0px 20px;
  max-width: 1350px;
  margin: 0px auto;
}
div#app-wrapper main#content section div.container p.seciton-title {
  color: #173b6c;
  font-size: 32px;
  font-weight: 900;
}
div#app-wrapper main#content section div.container p.seciton-title::after {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  content: " ";
  margin-top: 15px;
}
div#app-wrapper main#content section div.container p.brief {
  padding: 10px 0px;
}
div#app-wrapper main#content section#home {
  height: 100vh;
  background-image: url(/image/IMG_0986.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0px;
  z-index: -1;
}
div#app-wrapper main#content section#home article#typewriting {
  position: absolute;
  top: 30%;
  left: 10%;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph {
  padding: 5px;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.typewriter-name {
  color: white;
  font-weight: 900;
  font-size: 28px;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.typewriter-occupation {
  color: white;
  font-weight: 900;
  font-size: 26px;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.cursor {
  font-size: 28px;
  font-weight: 600;
  color: #149ddd;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.creative,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.efficient,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.reliable {
  font-weight: 900;
  font-size: 26px;
  display: inline-block;
  padding: 0px 10px 0px 0px;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.creative::after,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.efficient::after,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.reliable::after {
  width: 100%;
  height: 3px;
  display: block;
  content: " ";
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.creative {
  color: #f29191;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.creative::after {
  background-color: #f29191;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.efficient {
  color: #5aa897;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.efficient::after {
  background-color: #5aa897;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.reliable {
  color: #0061a8;
}
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.reliable::after {
  background-color: #0061a8;
}
div#app-wrapper main#content section#contact {
  background: #f5f8fd;
}
div#app-wrapper main#content section#contact div#contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info {
  padding: 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  flex-basis: 400px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper {
  padding: 20px 0px;
  position: relative;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper span.info-logo-wrapper {
  position: absolute;
  display: inline-block;
  background-color: #dff3fc;
  padding: 10px;
  border-radius: 30px;
  transition: background-color 1s;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper span.info-logo-wrapper i {
  border-radius: 30px;
  color: #149ddd;
  font-size: 20px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper p.info-title {
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #050d18;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper p.info-content {
  margin-left: 50px;
  padding: 10px 0px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper p.info-content a {
  font-size: 14px;
  color: #173b6c;
  text-decoration: none;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper:hover span.info-logo-wrapper {
  background-color: #149ddd;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div.info-wrapper:hover span.info-logo-wrapper i {
  color: white;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info div#map {
  height: 300px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message {
  padding: 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  flex-grow: 1;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-name-email {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper {
  flex-grow: 1;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper p.contact-item-title {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0px;
  color: #272829;
  font-size: 16px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper textarea,
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper input.contact-input {
  border: 1px solid #ced4da;
  outline: none;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper textarea:focus,
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper input.contact-input:focus {
  border: 1px solid #149ddd;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper input.contact-input {
  height: 45px;
  width: 100%;
  padding: 10px 20px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div.contact-item-wrapper textarea {
  width: 100%;
  height: 250px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message > div.contact-item-wrapper {
  margin-top: 20px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-btn-wrapper {
  text-align: center;
  padding: 20px;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-btn-wrapper button.contact-btn {
  border: none;
  background: #149ddd;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-btn-wrapper button.contact-btn:hover {
  opacity: 0.8;
}
div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-btn-wrapper button.contact-btn:active {
  opacity: 1;
}
div#app-wrapper main#content section#skills div#skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field {
  flex-grow: 1;
  flex: 45%;
  padding: 20px;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field p.skills-field-title {
  display: inline-block;
  color: white;
  padding: 2px 3px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field p.skills-field-title.red {
  background: #ff4848;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field p.skills-field-title.blue {
  background: #5089c6;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field p.skills-field-title.grey {
  background: #595260;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field p.skills-field-title.orange {
  background: #ffa900;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item {
  flex: 33.33%;
  flex-grow: 0;
  text-align: center;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i {
  font-size: 100px;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.html {
  color: #ff4848;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.css {
  color: #5089c6;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.js {
  color: #ffd523;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.react {
  color: #4fd4f7;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.vue {
  color: #26dd75;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.sass {
  color: #c45789;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.node {
  color: #4d884c;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.php {
  color: #6a6aa1;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.python {
  color: #2d6493;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.mongodb {
  color: #00924b;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i.postgresql {
  color: #2b587f;
}
div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item p {
  color: #050d18;
  font-size: 20px;
  font-weight: 900;
  padding: 5px;
}
div#app-wrapper main#content section#portfolio {
  background: #f5f8fd;
}
div#app-wrapper main#content section#portfolio div#portfolio-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 40px;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item {
  text-align: center;
  box-shadow: #2d3e50 2px 2px 10px;
  position: relative;
  overflow: hidden;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a {
  display: block;
  height: 100%;
  width: 100%;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a img {
  height: 100%;
  width: 100%;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a p.portfolio-description {
  background: #149ddd;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -50px;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  opacity: 0.8;
  transition: bottom 0.3s;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a:hover img {
  opacity: 0.6;
}
div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a:hover p.portfolio-description {
  bottom: 0px;
}
div#app-wrapper main#content section#about div#about-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 20px;
}
div#app-wrapper main#content section#about div#about-container div#about-image-wrapper {
  flex-basis: 420px;
  flex-grow: 1;
  flex-shrink: 1;
}
div#app-wrapper main#content section#about div#about-container div#about-image-wrapper img {
  width: 100%;
  max-height: 425px;
}
div#app-wrapper main#content section#about div#about-container div#about-information {
  min-width: 550px;
  width: 65%;
}
div#app-wrapper main#content section#about div#about-container div#about-information p#about-information-title {
  font-weight: 700;
  font-size: 30px;
  color: #173b6c;
}
div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 20px;
  flex-wrap: wrap;
}
div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields div.about-field-item {
  padding: 5px 0px;
  flex: 45%;
}
div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields div.about-field-item i {
  border-top: 3px solid #149ddd;
  border-right: 3px solid #149ddd;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
}
div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields div.about-field-item span.field-name {
  padding: 0px 10px;
  font-weight: bolder;
  font-size: 16px;
}
div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields div.about-field-item span.field-content {
  color: #272829;
}
div#app-wrapper main#content section#about div#about-container div#about-information p#about-description {
  color: #272829;
  text-indent: 20px;
  max-width: 725px;
  line-height: 30px;
}
div#app-wrapper main#content section#about div#about-container div#about-information p#about-resume-button {
  margin-top: 20px;
}
div#app-wrapper main#content section#about div#about-container div#about-information p#about-resume-button a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #00924b;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
}
div#app-wrapper main#content section#about div#about-container div#about-information p#about-resume-button a:hover {
  background: #059862;
}

div#menu-trigger {
  cursor: pointer;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 30px;
  background: #149ddd;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  z-index: 50;
}
div#menu-trigger i {
  color: white;
  font-size: 30px;
}
div#menu-trigger i#menu-logo {
  position: absolute;
}
div#menu-trigger i.fa-times {
  opacity: 0;
  font-size: 34px;
}

div#menu-masklayer {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 90;
}
div#menu-masklayer.show {
  display: block;
}

@media only screen and (max-width: 600px) {
  div#app-wrapper main#content section div.container p.seciton-title {
    text-align: center;
  }
  div#app-wrapper main#content section div.container p.seciton-title::after {
    margin: 15px auto 0px auto;
  }
}
@media only screen and (max-width: 1300px) {
  div#menu-trigger {
    display: flex;
  }

  div#app-wrapper aside#menu {
    z-index: 99;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 300px;
    background: rgba(0, 0, 0, 0.85);
    transform: translateX(-100%);
    transition: transform 0.8s;
  }
  div#app-wrapper aside#menu.show {
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 1300px) {
  div#app-wrapper main#content section#contact div#contact-wrapper div#contact-info {
    flex-basis: auto;
    flex-grow: 1;
  }
  div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message {
    flex-grow: 2;
  }
}
@media only screen and (max-width: 700px) {
  div#app-wrapper main#content section#contact div#contact-wrapper div#contact-message div#contact-name-email {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  div#app-wrapper main#content section#contact div#contact-wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item i {
    font-size: 60px;
  }
  div#app-wrapper main#content section#skills div#skills-container div.skills-field div.skills-field-wrapper div.skill-item p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  div#app-wrapper main#content section#skills div#skills-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1300px) {
  div#app-wrapper main#content section#portfolio div#portfolio-container {
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item a p.portfolio-description {
    bottom: 0px;
  }
}
@media only screen and (max-width: 800px) {
  div#app-wrapper main#content section#portfolio div#portfolio-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  div#app-wrapper main#content section#portfolio div#portfolio-container div.portfolio-item {
    max-width: 510px;
    height: 300px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 900px) {
  div#app-wrapper main#content section#about div#about-container {
    flex-direction: column;
  }
  div#app-wrapper main#content section#about div#about-container div#about-image-wrapper {
    flex-basis: auto;
    text-align: center;
  }
  div#app-wrapper main#content section#about div#about-container div#about-image-wrapper img {
    max-width: 425px;
  }
  div#app-wrapper main#content section#about div#about-container div#about-information {
    width: 100%;
    min-width: auto;
  }
}
@media only screen and (max-width: 600px) {
  div#app-wrapper main#content section#about div#about-container div#about-information div#about-fields {
    flex-direction: column;
  }
}
@media only screen and (max-width: 450px) {
  div#app-wrapper main#content section#about div#about-container div#about-information p#about-information-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.typewriter-name {
    font-size: 20px;
  }
  div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.typewriter-occupation {
    font-size: 20px;
  }
  div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.creative,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.efficient,
div#app-wrapper main#content section#home article#typewriting p.typewriting-paragraph span.reliable {
    font-size: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
